.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin: 15px;
    padding: 10px;
    &>img {
        width: 200px;
        height: 300px;
    }
    &>.btns{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

button {
    padding: 2px 5px 2px 5px;
    width: 35px;
    background-color: white;
    border: 1px solid #171717;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bold;

}